@font-face {
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 400;
  src: url("~@/fonts/advent-pro-v9-latin-regular.woff2") format("woff2"),
    url("~@/fonts/advent-pro-v9-latin-regular.woff") format("woff");
}

body, html {
  font-family: "Advent Pro", sans-serif;
}

.hello {
  color: yellow;
  background: url("~@/images/bridge.jpeg");
  font-family: "Advent Pro";
  min-height: 354px;
}

.posts {
  margin: 0 auto;
  width: 70%;

  h1 {
    background-color: #7C4FC2;
    color: #FFFFFF;
    padding: 15px 10px;
    border-radius: 5px 5px 0 0;
    margin: 0;
  }
  .post-list {
    border: 1px solid #cccccc;
  }
  .post {
    border-bottom: 1px solid #cccccc;
    padding: 10px;
    h2 {
      margin: 0;
    }
    &:nth-child(even) {
      background-color: #f1f1f1;
    }
  }
  .loading-indicator {
    visibility: hidden;
    background-color: #d1b3ff;
    padding: 10px;
    color: #FFFFFF;
  }

  &.is-fetching .loading-indicator {
    visibility: visible;
  }
}